<h1><%= @list.name %></h1>

<div class="container">
  <%= link_to 'Add a new film to the list', new_list_bookmark_path(@list) %>
  <h2>Films in the list :</h2>
  <div class="d-flex flex-wrap">

    <% if @list.movies.empty? %>

      <p>No film yet.</p>

    <% else %>

      <% @list.movies.each do |movie| %>

        <div class="card m-3" style="width: 18rem;">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text">
              <%= movie.overview %>
            </p>
            <p class="card-text">
              <%= movie.rating %>/10
            </p>
            <%= link_to "Delete",
                bookmark_path(Bookmark.find_by(list: @list, movie: movie)),
                data: {turbo_method: :delete},
                class: 'btn btn-outline-danger'%>
          </div>
        </div>

      <% end %>

    <% end %>

  </div>

    <%= link_to 'Back to Lists', lists_path %>

</div>
